/**{*/
    /*padding: 0;*/
    /*margin: 0 auto;*/
/*}*/
body{
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.left-menu {
    width: 250px;
    float: left;
    background-color: #505050;
    position: fixed;
    height: 100%;
}
.left-menu label{
    color: white;
}

.logo{
    padding: 10px;
}

.logo img{
    width: 100%;
}

.controls {
    padding-left: 10px;
    padding-right: 10px;
}

.tags-section{
    margin-bottom: 20px;
}

.subscribed-section{
    margin-bottom: 10px;
}
.date-section{
    margin-bottom: 20px;
}
.date-fields{
    /*display: none;*/
}
.buttons-section{
    margin-bottom: 20px;
}
.search-button, .more-button, .chooseLucky-button{
    padding:10px;
    text-align: center;
}

.right {
    padding:0;
    margin-left: 250px;
}
